name: mirai
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: ^3.11.0

dependencies:
  flutter:
    sdk: flutter
  dio: ^5.4.0
  flutter_chat_ui: ^1.6.15
  flutter_chat_types: ^3.6.2
  flutter_bloc: ^8.1.3
  equatable: ^2.0.5
  provider: ^6.1.1
  uuid: ^4.2.1
  flutter_dotenv: ^5.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
